/* This is an example CSS file, feel free to remove/edit it anytime */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}
body {
  background-color:beige;

}
.card{
  width:80%;
  border-radius: 20px;
  background-color:white;
  box-shadow: 5px 5px 5px gray;
  aspect-ratio: 16 / 9 ;
  margin:auto;
  margin-top:10%;
}

.left-margin{
  width:20%;
  background-color:cyan;
  height:100%;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
}
.left-margin > div > p, a {
  font-size:.6rem;
  color:white;
}

.card-body{
  width:80%;

}

